<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const prodductStore = useProductStore();

onMounted(async () => {
  await prodductStore.getProducts();
});
</script>

<template>
  <ProductDialog></ProductDialog>
  <v-btn @click="prodductStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tBody>
      <tr v-for="item of prodductStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn class="mr-5" @click="prodductStore.editProduct(item)"
            >Edit</v-btn
          ><v-btn @click="prodductStore.deleteProduct(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tBody>
  </v-table>
</template>
