<script setup lang="ts">
import { ref } from "vue";
const drawer = ref(true);
const rail = ref(true);
</script>
<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-layout>
      <v-navigation-drawer
        v-model="drawer"
        :rail="rail"
        permanent
        @click="rail = false"
      >
        <v-list-item
          prepend-avatar="https://w0.peakpx.com/wallpaper/529/734/HD-wallpaper-shanks-luffy-nami-onepiece-op-robin-sunset-usopp-water-zoro.jpg"
          title="Luffy Sunset"
          nav
        >
          <template v-slot:append>
            <v-btn
              variant="text"
              icon="mdi-chevron-left"
              @click.stop="rail = !rail"
            ></v-btn>
          </template>
        </v-list-item>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item
            prepend-icon="mdi-home-city"
            title="Home"
            value="home"
            to="/"
          ></v-list-item>
          <v-list-item
            prepend-icon="mdi-account"
            title="Product"
            value="Product"
            to="/product"
          ></v-list-item>
          <v-list-item
            prepend-icon="mdi-account"
            title="Product Fullscreen"
            value="Product_full"
            to="/product/full"
          ></v-list-item>
          <v-list-item
            prepend-icon="mdi-account-group-outline"
            title="Users"
            value="users"
          ></v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main style="height: 250px"></v-main>
    </v-layout>
  </v-navigation-drawer>
</template>
